* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.main-container {
    width: 95%;
    margin: 0 auto;
}

.column {
    float: left;
    padding: 0 15px;
    height: 500px;
}

.half.column  {
    width: 48%;
}

.one.column  {
    width: 100%;
}
/*** fine layout base ***/

/*** inizio header ***/
header {
    background-color: white;
    height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-left {
    width: 25%;
    float: left;
    line-height: 67px;
}

#logo {
    position: relative;
    height: 14px;
}

.header-right {
    width: 75%;
    height: 67px;
    float: right;
}

/*** inizio menu ***/

#main-menu {
    list-style-type: none;
    float: right;
}

#main-menu li {
    float: left;
}

#main-menu li:not(.language) {
    margin-right: 24px;
}

/* alternativa con i bordi per fare le righe verticali che separano le lingue
#main-menu li.language a {
    padding: 5px;
}

#main-menu li.language:nth-child(7) a {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
*/

#main-menu li.language:not(:last-child)::after {
    content: '|';
    margin-left: 3px;
    margin-right: 3px;
    font-size: 20px;
}

#main-menu li a {
    font-size: 12px;
    line-height: 67px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
/*** fine menu ***/
/*** fine header ***/

/*** inizio jumbotron ***/
#jumbo {
    height: 560px;
    background-image: url('https://www.helbiz.com/asset/pages/newhome/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 67px;
    position: relative;
}

#jumbo-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.jumbo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.jumbo-text h1 {
    font-size: 40px;
}

.jumbo-text p {
    margin: 12px 0;
}
/*** fine jumbotron ***/

/*** inizio sezione con due riquadri con i prodotti ***/
#second {
    padding-top: 80px;
}

.product {
    background-color: lightgrey;
    padding: 10px;
}

.helbizGo {
  text-align: center;
  padding-top: 40px;
  line-height: 200%;
}

.imgScooter {
  margin:5% 30%;
}
/*** fine sezione con due riquadri con i prodotti ***/
/*** inizio sezione con iphone che sborda ***/
#third {
  margin-top: 10%;
  background-image: url('https://helbiz.com/asset/pages/newhome/images/HelbizBanner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 500px;
}

.testo-left {
  text-align: left;
  width: 20%;
  float: left;
  margin: 5% 15%;
}

.iphone {
  text-align: center;
  padding-top: 10%;
}

.testo-right {
  text-align: left;
  width: 20%;
  margin: 5% 15%;
  float: right;
  line-height: 200%;
}
/*** fine sezione con iphone che sborda ***/
/*** inizio sezione con riquadri con testo all'interno ***/
.one {
  background-image: url('https://helbiz.com/asset/pages/newhome/images/ScooterHelbiz-2400.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: 5%;
}

.learn {
  text-decoration: none;
  color: white;
}

.learn:hover {
  text-decoration: underline;
}

.smartMobility {
 text-align: center;
 float: right;
 margin: 15% 0;
 width: 50%;
 font-size: 25px;
}

/*** sezione con 2 riquadri ***/
.halfLeft {
  background-image: url('https://helbiz.com/asset/pages/newhome/images/HelbiZAPP.png');
  background-color: #344453;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  text-align: center;
  margin-top: 3%;
  margin-right: 2%;
}

.getTheApp {
  margin-top: 5%;
  font-size: 20px;
  line-height: 200%;
}

.halfRight {
  background-image: url('https://helbiz.com/asset/pages/newhome/images/Cities-1500.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  margin-top: 3%;
  margin-left: 2%;
}
/*** fine sezione con riquadri con testo all'interno ***/
/*** inizio sezione con riquadro Instagram ***/
#instagram {
background-image: url('https://helbiz.com/asset/pages/newhome/images/Social-Banner.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: left;
height: 500px;
position: relative;
margin-top: 3%;
}

.helbizFamily {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  padding: 5% 8%;
}

.fab {
  font-size: 30px;
  margin-top: 5px;
}

.fab:nth-of-type(1n+2) {
  margin-left: 20px;
}
/*** fine sezione con riquadro Instagram ***/
footer {
  background-color: black;
  height: 900px;
  margin-top: 3%;
}
